<%= provide(:title, "Forgot Password?") %>

<div class="row">
	<div class="col">
		<p class="text-center">Forgot Password?</p>
		<%= form_for(:password_reset, url: password_resets_path) do |f| %>
			<%= f.label :email %>
			<%= f.text_field :email, class: "form-control form-control-sm" %>

			<%= f.submit "submit", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>