<% if logged_in? %>
	<%= render 'partials/education_menu', e: e %>
<% end %>
<div class="resume-education-content">	
	<h2 class="resume-school"><%= e.school %></h2> — <%= e.degree %><br>
	<%= e.year %><br>
	<h2 class="resume-major"><%= e.major %></h2>
</div>