<% if logged_in? %>
	<%= render 'partials/experience_menu', e: e %>
<% end %>
<div>
	<h2 class="resume-company"><%= e.company %></h2>, <%= e.location %> — <h1 class="resume-title"><%= e.title %></h1><br>
		<%= e.year %></p>
	<p><%= markdown(e.desc) %>
</div>