<%= form_for(@contact) do |f| %>
	<div class="form-group">
		<%= f.label :name, "Name/Company" %>
		<%= f.text_field :name, class: "form-control form-control-sm form-contact-input" %>

		<%= f.label :email %>
		<%= f.text_field :email, class: "form-control form-control-sm form-contact-input" %>

		<%= f.label :message %>
		<%= f.text_area :message, class: "form-control form-control-sm form-contact-input", rows: "5" %>
	</div>

	<%= f.submit "submit", class: "btn-contact" %>
<% end %>