<%= form_for(@contact) do |f| %>
	<div class="form-group">
		<%= f.text_field :name, placeholder: "Name/Company", class: "form-control form-control-sm" %>

		<%= f.text_field :email, placeholder: "Email", class: "form-control form-control-sm" %>

		<%= f.text_area :message, placeholder: "Message", class: "form-control form-control-sm", rows: "5" %>
	</div>

	<%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>