<%= form_for(@education) do |f| %>
	<div class="form-row">
		<div class="form-group col-lg-3 col-sm-6 col-12">
			<%= f.label :school %>
			<%= f.text_field :school, class: "form-control form-control-sm" %>
		</div>

		<div class="form-group col-lg-3 col-sm-6 col-12">
			<%= f.label :year %>
			<%= f.text_field :year, class: "form-control form-control-sm" %>
		</div>

		<div class="form-group col-lg-3 col-sm-6 col-12">
			<%= f.label :degree %>
			<%= f.text_field :degree, class: "form-control form-control-sm" %>
		</div>

		<div class="form-group col-lg-3 col-sm-6 col-12">
			<%= f.label :major %>
			<%= f.text_field :major, class: "form-control form-control-sm" %>
		</div>
	</div>

	<%= f.submit "submit", class: "btn-education" %>
<% end %>