<%= form_for(@education) do |f| %>
	<div class="form-group row">
		<div class="col">
			<%= f.text_field :school, placeholder: "University or College", class: "form-control form-control-sm" %>
		</div>

		<div class="col-auto">
			<%= f.text_field :year, placeholder: "Graduation Year", class: "form-control form-control-sm" %>
		</div>

		<div class="col-auto">
			<%= f.text_field :degree, placeholder: "Degree or Certification", class: "form-control form-control-sm" %>
		</div>

		<div class="col">
			<%= f.text_field :major, placeholder: "Major or Area of Study", class: "form-control form-control-sm" %>
		</div>
	</div>

	<%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>