<% provide(:title, @title) %>

<div class="child row">
	<div class="col-10 offset-1">
		<h1 class="home-heading">Portfolio</h1>
		<h1 class="home-name">
			<% if logged_in? %>
				<%= link_to edit_name_user_path(current_user), class: "btn-home" do %>
					<sup><%= icon('far', 'edit') %></sup>
				<% end %>
			<% end %>
			<%= carlie.name %>
		</h1>
		<h1 class="home-title">
			<% if logged_in? %>
				<%= link_to edit_title_user_path(current_user), class: "btn-home" do %>
					<sup><%= icon('far', 'edit') %></sup>
				<% end %>
			<% end %>
			<%= carlie.title %>
		</h1>
	</div>
</div>