<nav class="navbar navbar-expand-md col-10 offset-1">
	<%= link_to "Carlie La Vallee", root_path, class: "navbar-brand" %>

	<!--Navigation Button-->
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent" aria-controls="navContent" aria-expanded="false" aria-label="Toggle navigation">
    <%= icon('fas', 'bars') %>
  </button>

	<!--Navigation Links-->
 	<div class="collapse navbar-collapse" id="navContent">
 		<ul class="navbar-nav">
 			<li class="col-md-2 offset-md-4 nav-item">
 				<%= link_to "About", about_path, class: "nav-link" %>
 			</li>
 			<li class="col-md-2 nav-item">
 				<%= link_to "Resume", resume_path, class: "nav-link" %>
 			</li>
 			<li class="col-md-2 nav-item">
 				<%= link_to "Work", work_path, class: "nav-link" %>
 			</li>
 			<li class="col-md-2 nav-item">
 				<%= link_to edit_user_path(current_user), class: "nav-link" do %>
 					<%= icon('fas', 'cog') %>
 				<% end %>
 			</li>
 		</ul>
 	</div>
</nav>